<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIKey" value="" />
    <add key="APISecret" value="" />
    <add key="AccessToken" value="" />
    <add key="AccessSecret" value="" />
    
    <add key="WebHookURL" value="https://discordapp.com/api/webhooks/XXXXXXXX" />

    <add key="keyword" value="凛世" />
    <add key="min_faves" value="100" />
    <add key="fooCount" value="50" />
    <add key="ngWordsProfile" value="コスプレ,こすぷれ,Cosplay,cosplay" />
    <add key="ngWords" value="コスプレ,こすぷれ,Cosplay,cosplay,フォロー,フォロバ,痛車" />
    <add key="ngScreenName" value="_shinycolors_,imassc_official,imas_official,asobistore" />
  </appSettings>
</configuration>